@import "tailwindcss";

@theme {
  --font-alu: var(--font-alumni-sans);
  --font-bar: var(--font-barlow);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
}


body {
  min-height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}
